[submodule "pantry"]
	path = pantry
	url = git@github.com:appgen/pantry.git
[submodule "kitchen"]
	path = kitchen
	url = git@github.com:appgen/kitchen.git
[submodule "menu"]
	path = menu
	url = git@github.com:appgen/menu.git
[submodule "proxy"]
	path = proxy
	url = git://github.com/appgen/proxy.git
